<div mat-dialog-content>
    <form class="d-flex flex-column" (ngSubmit)="onUpdate()" novalidate #f="ngForm" action="">
        <div class="form-group">
            <label for="imagen">Seleccione la imagen</label>
            <input (change)="capturarFile($event)" type="file" class="form-control" accept="image/*" id="imagen" name="imagen" required>
        </div>
        <button class="btn btn-primary">Confirmar</button>
        <button class="btn btn-primary boton-cerrar" mat-button (click)="cerrar()">Cancelar</button>
    </form>
</div>