<div class="d-flex justify-content-center background-texture">
    <div id="habilidad">
        <h2>Habilidades</h2>
        <ul class="d-flex justify-content-center align-items-center flex-wrap">
            <li class="d-flex flex-column align-items-center habilidad-item">
                <img src="../../../assets/habilidades-svg/html.svg" width="100" height="100" alt="">
                <span class="span_habilidad_item">HTML</span>
            </li>
            <li class="d-flex flex-column align-items-center habilidad-item">
                <img src="../../../assets/habilidades-svg/js.svg" width="100" height="100" alt="">
                <span class="span_habilidad_item">JS</span>
            </li>
            <li class="d-flex flex-column align-items-center habilidad-item">
                <img src="../../../assets/habilidades-svg/css.svg" width="100" height="100" alt="">
                <span class="span_habilidad_item">CSS</span>
            </li>
            <li class="d-flex flex-column align-items-center habilidad-item">
                <img src="../../../assets/habilidades-svg/java.svg" width="100" height="100" alt="">
                <span class="span_habilidad_item">Java</span>
            </li>
            <li class="d-flex flex-column align-items-center habilidad-item">
                <img src="../../../assets/habilidades-svg/spring.svg" width="100" height="100" alt="">
                <span class="span_habilidad_item">Spring Boot</span>
            </li>
            <li class="d-flex flex-column align-items-center habilidad-item">
                <img src="../../../assets/habilidades-svg/mysql.svg" width="100" height="100" alt="">
                <span class="span_habilidad_item">MySQL</span>
            </li>
        </ul>
    </div>
</div>
