img {
    margin: 20px;
    min-width: 100px;
}

.habilidad-item {
    position:relative;
    margin: 15px;
    width: 28%;
    min-width: 150px;
}

ul {
    padding: 0;
}

.btn-option {
    position: absolute;
    right: -8px;
    float: right;
}