* {
    font-size: 20px;
    margin: 0;
}

img {
    margin: 20px;
    min-width: 100px;
}

h2{
    font-size: 30px;
    margin-bottom: 10px;
}

.habilidad-item {
    position:relative;
    margin: 15px;
    width: 28%;
    min-width: 150px;
}

.span_habilidad_item {
    display: block;
}

ul {
    padding: 0;
}

.btn-option {
    position: absolute;
    left: 90px;
}