<div mat-dialog-content>
    <form class="d-flex flex-column" novalidate #f="ngForm" action="">
        <div class="form-group">
            <label for="nombre">Nombre de proyecto</label>
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
        </div>
        <div class="form-group">
            <label for="imagen">Pegue la URL de la img</label>
            <input type="text" class="form-control" id="imagen" name="imagen" [(ngModel)]="imagen" required>
        </div>
        <div class="form-group">
            <label for="githublink">Link a github (URL)</label>
            <input type="text" class="form-control" id="githublink" name="githublink" [(ngModel)]="githublink" required>
        </div>
        <button class="btn btn-primary" mat-button (click)="onCreate()">Agregar proyecto</button>
        <button class="btn btn-primary" mat-button (click)="cerrar()">Cancelar</button>
    </form>
</div>