img {
    margin-right: 20px;
    min-width: 100px;
}

ul {
    padding-right: 20px;
    padding-left: 0;
}

.edu-item {
    margin: 15px;
    position: relative;
}

.btn-option {
    position: relative;
    width: 30px;
    left: 10px;
}

@media (max-width: 480px){
    .edu-item{
        flex-direction: column !important;
    }

    .btn-option{
        flex-direction: row !important;
    }
}